
<div class="well well-lg">
    <div class="container-fluid">
        <ul class="list-group">
            <li class="list-group-item"><h2>Hello </h2></li>
            <li class="list-group-item"><p> This is a project for WebProgramming elective class in 4th semester </p></li>
            <li class="list-group-item"><p> It is a simple single page angular application, built in angular 4 </p></li>
            <li class="list-group-item"><p> It uses TheMovieDB API to fetch the data about movies </p>
            <a href="https://developers.themoviedb.org/">API docs</a>
            </li>
            <li class="list-group-item"><h2>Angular rocks a lot right now !!!</h2></li>
        
           </ul>    
    </div>
</div>